

/* .dark { */
  /* Dark theme */
  /* --color-bg: #0f172a;
  --color-primary: #06b6d4;
  --color-primary-dark: #0891b2;
  --color-text: #e0f2fe;
  --color-accent: #22d3ee;
  --color-accent-dark: #0e7490;
  --color-border: #0284c7; */
/* } */

:root {
  --color-bg: #F5F7FA;          /* very soft gray-blue background */
  --color-primary: #4A6FA5;     /* muted steel blue for main actions */
  --color-primary-dark: #3A5A85; /* slightly darker blue for hover */
  --color-text: #2D3748;        /* dark gray text for readability */
  --color-accent: #A3B18A;      /* soft sage green accent */
  --color-accent-dark: #6B705C; /* earthy muted green/brown */
  --color-border: #D1D5DB;      /* light gray border */
  --color-bg-tra: rgba(74, 111, 165, 0.08); /* translucent blue overlay */
  --color-text-small: #132746;  /* muted gray for secondary text */
  --color-glass: rgba(255, 255, 255, 0.5); /* subtle glass effect */
}




.dark {
  --color-bg: #1C1F24;          /* soft charcoal background */
  --color-primary: #5A7CA8;     /* muted blue for actions */
  --color-primary-dark: #3E557A; /* darker muted blue */
  --color-text: #E2E8F0;        /* light gray text */
  --color-accent: #8DAA91;      /* muted sage accent */
  --color-accent-dark: #556B5F; /* earthy dark green */
  --color-border: #2D3748;      /* subtle dark border */
  --color-bg-tra: rgba(90, 122, 168, 0.15); /* translucent muted blue */
  --color-text-small: #ffffff;  /* soft gray for secondary text */
  --color-glass: rgba(255, 255, 255, 0.08); /* subtle glass effect */
}



/* 
html {
  transition: background-color 0.5s ease, color 0.5s ease;
} */

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 9999px;
  border: 2px solid var(--color-bg);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-bg);
}


/* Emoji picker scrollbar */
